 .cursor {
	 position: absolute;
	 background: #673ab7;
	 width: 20px;
	 height: 20px;
	 border-radius: 100%;
	 z-index: 10000;
	 transform: scale(1);
	 user-select: none;
	 pointer-events: none;
	 transition: 0.3s ease-in-out transform, 0.2s ease-in-out opacity;
}
 .cursor.active {
	 opacity: 0.5;
	 transform: scale(0);
}
 .cursor.hovered {
	 opacity: 0.08;
}
 .cursor-follower {
	 position: absolute;
	 background-color: rgb(255 2 2 / 30%);
	 width: 40px;
	 height: 40px;
	 border-radius: 100%;
	 z-index: 10000;
	 transform: translatex(5px, 5px);
	 user-select: none;
	 pointer-events: none;
	 transition: 0.6s ease-in-out transform, 0.2s ease-in-out opacity;
}
.cursor-follower.active {
	 opacity: 0.7;
	 transform: scale(3);
}
.cursor-follower.hovered {
	 opacity: 0.08;
}
